.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
a,
body,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p {
    font-family:
        Poppins,
        -apple-system,
        BlinkMacSystemFont,
        Helvetica,
        Arial,
        sans-serif;
}
a:hover {
    color: rgba(0, 0, 0, 0.7) !important;
}
a {
    text-decoration: none !important;
    /* color: #87317d !important; */
    color: white;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, white 0%, #fccaf4 100%);
    color: transparent;
    color: black;
    scroll-behavior: smooth; /* Enable smooth scrolling */
    font-size: 1.125rem !important;
}
.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    background-color: white;
    padding: 10px 20px;
    color: #a2268d;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 9px 40px -13px rgba(0, 0, 0, 0.25);
    z-index: 1000;
}
.header-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.top-header div {
    display: flex;
    align-items: center;
}
.logo img {
    max-width: 200px;
    height: auto;
}
.menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.menu li {
    margin: 0 15px;
}
.menu a {
    color: #a2268d;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
.menu li a:hover {
    color: black; /* Change text color to black on hover */
}

.podcast-btn {
    margin-bottom: 4px;
}

.quote-button {
    background-color: #a2268d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.banner {
    width: 100%;
    position: relative;
    color: black;
    padding: 150px 20px 100px;
    text-align: center;
    margin-top: 142px;
    overflow: hidden;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/NovaBalance/assets/img/NovaBannerNew.webp");
    background-size: cover;
    background-position: center;
    /* filter: blur(5px) brightness(50%); /* Blurs and darkens the image */
    z-index: -2;
}

.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%); */
    z-index: -1;
}

.banner h1,
.banner p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Makes text pop more */
}

p {
    line-height: 160%;
    font-weight: 400;
}

.intro {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}
.screenshots {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}
.screenshot {
    width: 30%;
    height: 200px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-form {
    background-color: #492468;
    padding: 40px;
    border-radius: 10px;
    color: white;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.contact-form h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 25px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
}

.contact-form .form-control {
    border-radius: 6px;
    border: 1px solid #a2268d;
    padding: 12px;
    background-color: white;
    color: #492468;
    font-size: 16px;
    transition:
        border 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
}

.contact-form .form-control:focus {
    border-color: #a2268d;
    box-shadow: 0 0 8px rgba(162, 38, 141, 0.5);
    outline: none;
}

.novabutton {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 6px;
    background-color: #a2268d;
    color: white;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.novabutton:hover {
    background-color: #87317d;
    cursor: pointer;
}

input,
textarea {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border: none;
    border-radius: 5px;
}
.novabutton {
    background-color: #a2268d;
    color: white;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border: none;
    border-radius: 5px;
}
footer {
    background-color: #a2268d;
    padding: 20px;
    color: white;
    text-align: center;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}
.not-found {
    padding-bottom: 30%;
    margin: 0 auto;
    padding-top: 30%;
    text-align: center;
}
.logo-style.nova {
    color: black;
}

.logo-style.forma {
    color: #a2268d;
}
.btnSubmit {
    width: 100%;
}
.contact-section {
    margin-top: 50px;
}
.functions-section {
    background-color: #f8f9fa;
    border-radius: 10px;
}
.card {
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    transform: translateY(-5px);
}
.btn-primary {
    background-color: #a2268d !important;
    border-color: #492468 !important;
}
.function-card {
    cursor: help;
}
